@import "abstract/variables.scss";

@import "mixins/theme.scss";

@import "layout/root.scss";
@import "layout/grid.scss";

@import "components/button.scss";
@import "components/card.scss";



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}