/**
 * Layout 
 */

$page-padding : 16px;
$gutter: 32px;
$header-height: 48px;
$footer-height: 64px;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$card-padding: 16px;

/**
 * Font Sizing
 */

$text-bold: 600;
$text-bolder: 800;
$font-size-sm: 0.75rem;
$font-size-sm-2: 0.85rem;
$font-size-med: 1rem;
$font-size-med-2: 1.2rem;
$font-size-large: 2rem;
$font-size-xl: 3rem;

/**
 * Line Height
 */
$line-height: 1.5;

/**
 * Colors
 */

$button-light: #f9f9f9;
$button-dark: #1a1a1a;

$background-light: #fff;
$background-dark: #242424;

$text-light: #213547;
$text-dark: rgba(255, 255, 255, 0.87);