.card {
  background-color: #666;
  border-radius: $border-radius-md;
  border: 1px solid #000;
  padding: $card-padding;

  table {
    margin-bottom: 8px;

    td {
      text-align: start;
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: #ddd;
    border: 1px solid #fff;
  }
}